p {
    color: #f8e9a1;
    color: #f76c6c;
    color: #a8d0e6;
    color: #374785;
    color: #24305e;

    color: #02000c;
    color: #060420;
    color: #08243c;
    color: #6d9da6;
    color: #f38c2b;
}