.container {
    height: 100%;
}

#user-container {
    align-items: start;
}

.user-info-container {
    width: 64%;
    color:#eff2f3;
}

.user-joined-date {
    margin-bottom: 25px;
    font-size: 0.8rem;
    font-style: italic;
    color: #c4cedb;
}

.user-avatar {
    object-fit: cover;
    border-radius: 50%
    
}

#self-user-avatar {
    width: 80px;
    height: 80px;
}



section {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posts-call {
    text-transform: uppercase;
}